*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-size: var(--mh-font-family);
    font-size: var(--mh-font-size-md);
    color: var(--mh-dark);
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: var(--mh-dark);
    transition: var(--mh-transation-fast);
}

a:hover {
    color: var(--mh-primary);
}

img {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}