/* (((((((( Text )))))))) */

.mh-text-center {
    text-align: center;
}

.mh-text-left {
    text-align: left;
}

.mh-text-right {
    text-align: right;
}

.mh-text-dark {
    color: var(--mh-dark);
}

.mh-text-light {
    color: var(--mh-light);
}

.mh-text-white {
    color: var(--mh-white);
}

.mh-text-info {
    color: var(--mh-info);
}

.mh-text-primary {
    color: var(--mh-primary);
}



/* (((((((((( Margin )))))))))) */
.mh-m-0 {
    margin: 0;
}

.mh-m-1 {
    margin: var(--mh-space-1);
}

.mh-m-3 {
    margin: var(--mh-space-2);
}

.mh-m-4 {
    margin: var(--mh-space-3);
}

.mh-mt-1 {
    margin-top: var(--mh-space-1);
}

.mh-mt-2 {
    margin-top: var(--mh-space-2);
}

.mh-mt-3 {
    margin-top: var(--mh-space-3);
}

.mh-mb-1 {
    margin-bottom: var(--mh-space-1);
}

.mh-mb-2 {
    margin-bottom: var(--mh-space-2);
}

.mh-mb-3 {
    margin-bottom: var(--mh-space-3);
}

.mh-ml-1 {
    margin-left: var(--mh-space-1);
}

.mh-ml-2 {
    margin-left: var(--mh-space-2);
}

.mh-ml-3 {
    margin-left: var(--mh-space-3);
}

.mh-mr-1 {
    margin-right: var(--mh-space-1);
}

.mh-mr-2 {
    margin-right: var(--mh-space-2);
}

.mh-mr-3 {
    margin-right: var(--mh-space-3);
}


/* (((((((((( Padding )))))))))) */
.mh-p-0 {
    padding: 0;
}

.mh-p-1 {
    padding: var(--mh-space-1);
}

.mh-p-3 {
    padding: var(--mh-space-2);
}

.mh-p-4 {
    padding: var(--mh-space-3);
}

.mh-pt-1 {
    padding-top: var(--mh-space-1);
}

.mh-pt-2 {
    padding-top: var(--mh-space-2);
}

.mh-pt-3 {
    padding-top: var(--mh-space-3);
}

.mh-pb-1 {
    padding-bottom: var(--mh-space-1);
}

.mh-pb-2 {
    padding-bottom: var(--mh-space-2);
}

.mh-pb-3 {
    padding-bottom: var(--mh-space-3);
}

.mh-pl-1 {
    padding-left: var(--mh-space-1);
}

.mh-pl-2 {
    padding-left: var(--mh-space-2);
}

.mh-pl-3 {
    padding-left: var(--mh-space-3);
}

.mh-pr-1 {
    padding-right: var(--mh-space-1);
}

.mh-pr-2 {
    padding-right: var(--mh-space-2);
}

.mh-pr-3 {
    padding-right: var(--mh-space-3);
}


/* (((((((((((((Flex))))))))))))) */
.mh-flex {
    display: flex;
}

.mh-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mh-flex-between {
    display: flex;
    justify-content: space-between;
}

.mh-flex-around {
    display: flex;
    justify-content: space-around;
}

.mh-flex-colmun {
    display: flex;
    flex-direction: column;
}

/* ((((((((((Width & Height)))))))))) */
.mh-w-100{width: 100%;}
.mh-w-50{width: 50%;}
.mh-w-25{width: 25%;}
.mh-w-75{width: 75%;}
.mh-w-auto{width: auto;}

.mh-h-100{height: 100%;}
.mh-h-50{height: 50%;}
.mh-h-25{height: 25%;}
.mh-h-75{height: 75%;}
.mh-h-auto{height: auto;}

/* ((((((((((((Border & Radius)))))))))))) */
.mh-rounded-circle{border-radius: var(--mh-radius-circle);}
.mh-rounded-pill{border-radius: var(--mh-radius-pill);}
.mh-rounded-4{border-radius: var(--mh-radius-4);}
.mh-rounded-3{border-radius: var(--mh-radius-3);}

.mh-border{border: 1px solid var(--mh-dark);}


/* ((((((((((Shadow)))))))))) */

.mh-shadow-sm{box-shadow: var(--mh-shadow-sm);}
.mh-shadow-md{box-shadow: var(--mh-shadow-md);}
.mh-shadow-lg{box-shadow: var(--mh-shadow-lg);}

/* ((((((((((((((Transition)))))))))))))) */
.mh-transition{transition: all var(--mh-transition-normal);}
.mh-transition-fast{transition: all var(--mh-transition-fast);}
